html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Verdana, sans-serif;
}

p {
    padding: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input {
    outline: none;
    height: 20px;
    min-width: 200px;
    max-width: 600px;
    width: 70%;
    margin-bottom: 10px;
}

button {
    height: 75px;
    width: 325px;
    margin-left: 2px;
    margin-top: 2px;
    background-color: white;
    color: #33949F;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    outline: none;
    border: none;
    box-shadow: 1px 3px 8px rgba(18, 38, 43, 0.69);
    cursor: pointer;
}

button:hover {
    height: 79px;
    width: 329px;
    margin-left: 0;
    margin-top: 0;
    text-shadow: 0 0 1px rgba(18, 38, 43, 0.69);
}

.header {
    width: calc(100% - 100px);
    height: calc(20vh);
    padding: 50px;
    display: flex;
    justify-content: center;
}

.header-logo {
    max-width: 600px;
    width: 90%;
    object-fit: contain;
}

.content {
    min-height: calc(80vh - 10% - 56px);
    background-color: #33949F;
    padding: 50px 10% 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.left-content, .right-content {
    flex: 1;
    padding: 0 8% 0 8%;
    max-width: 600px;
    color: white;
}

.content-divider-horizontal {
    display: flex;
    flex-direction: column;
}

.content-divider-vertical {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.loan-card {
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 10px;
}

.loan-card:hover {
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-text-header {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.card-text-minor-header {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}

.card-text-value {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.mini {
    font-size: 10px;
}

.spacer {
    padding-bottom: 15px;
}

.margin-right {
    margin-right: 10px;
}

.locked-in-buttom-center {
    display: block;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 162px);
}

.hidden {
    display: none;
}

